body {
  background-color: darkgray;

  font-family: "Noto Nastaliq Urdu", serif;

  direction: rtl;
  text-align: right;

  line-height: 2.5;
  font-size: 1.2rem;
}
nav {
  font-size: 25px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: lightgrey;
  color: black;
  padding: 2px;
  border-radius: 30px;

  .right {
    font-size: 34px;
    font-weight: bold;
  }

  .left {
    display: flex;
    justify-content: center;
    background-color: #2c3e50;
    padding: 5px;
    border-radius: 30px;
    color: white;
    width: 700px;
    margin-right: 15px;
  }
}
.progress-wrapper {
  width: 80%;
  background: #eee;
  border-radius: 10px;
  margin: 20px auto;
  overflow: hidden; /* Ensures the green bar stays inside rounded corners */
}

.progress-bar {
  width: 0%;
  height: 12px;
  background: #2ecc71;
  border-radius: 10px;
  transition: width 0.4s ease-in-out; /* Makes the movement smooth */
}
.difficulty {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  margin-top: 40px;
  button {
    background-color: lightgrey;
    width: 300px;
    color: black;
    font-size: 1.5rem;
    text-align: center;
    border-radius: 30px;
    margin: 10px 10px;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      background-color: #bdc3c7;
      color: #2c3e50;
    }
  }
}

.main-body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.option-btn {
  font-family: "Noto Nastaliq Urdu", serif;
  font-size: 1.3rem;
  text-align: center;
  direction: rtl;

  width: 250px;
  height: 50px;
  margin-bottom: 12px;

  background-color: #ffffff;
  color: #2c3e50;
  border: 2px solid #bdc3c7;
  border-radius: 12px;

  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

#options-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  padding: 0 20px;
}

.option-btn {
  font-family: "Noto Nastaliq Urdu", serif;
  font-size: 1.1rem;
  padding: 12px;
  background-color: white;
  border: 2px solid #555;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s;
  text-align: right;
  margin: 10px auto;
}

.option-btn:hover {
  background-color: #f0f0f0;
  border-color: #000;
}

.final-scores {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

.passOrFail {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

/* Styling For Small Screens */

@media (max-width: 768px) {
  nav {
    font-size: 25px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
    color: white;
    padding: 2px;
    border-radius: 30px;

    .right {
      font-size: 34px;
      font-weight: bold;
    }

    .left {
      display: none;
    }
  }
  .difficulty {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    button {
      background-color: lightgrey;
      width: 300px;
      color: black;
      font-size: 1.5rem;
      text-align: center;
      border-radius: 30px;
      margin: 10px 10px;
      padding: 10px 20px;
      cursor: pointer;
      transition: all 0.3s ease;

      &:hover {
        background-color: #bdc3c7;
        color: #2c3e50;
      }
    }
  }

  .main-body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    background-color: #005461;
    color: white;
    border-radius: 30px;
    padding-bottom: 20px;

    .progress {
      text-align: center;
      color: white;
    }
  }

  .question {
    text-align: center;
  }

  .mainBody {
    background-color: #005461;
    margin-top: 5px;
    border-radius: 30px;
    color: white;
    margin: 0 auto;
  }

  .option-btn {
    font-family: "Noto Nastaliq Urdu", serif;
    font-size: 1.3rem;
    text-align: center;
    direction: rtl;

    width: 250px;
    height: 50px;
    margin-bottom: 12px;

    background-color: #ffffff;
    color: #2c3e50;
    border: 2px solid #bdc3c7;
    border-radius: 12px;

    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
  }

  .options-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .option-btn {
    font-family: "Noto Nastaliq Urdu", serif;
    font-size: 1.1rem;
    padding: 12px;
    background-color: white;
    border: 2px solid #555;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s;
    text-align: right;
  }

  .option-btn:hover {
    background-color: #f0f0f0;
    border-color: #000;
  }

  .final-scores {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
  }

  .passOrFail {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
  }
}
