body {
  background-color: #296374;

  font-family: "Noto Nastaliq Urdu", serif;

  direction: rtl;
  text-align: right;

  line-height: 2.5;
  font-size: 1.2rem;
}
nav {
  font-size: 25px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #0c2c55;
  color: #ededce;
  padding: 2px;
  border: 10px solid #bdc3c7;

  .right {
    font-size: 34px;
    font-weight: bold;
  }

  .left {
    display: flex;
    justify-content: center;
    background-color: #ededce;
    padding: 5px;
    border-radius: 30px;
    color: #0c2c55;
    width: 700px;
    margin-right: 15px;
  }
}
.progress-wrapper {
  width: 80%;
  background: #eee;
  border-radius: 10px;
  margin: 20px auto;
  overflow: hidden; /* Ensures the green bar stays inside rounded corners */
}

.progress-bar {
  width: 0%;
  height: 12px;
  background: #2ecc71;
  border-radius: 10px;
  transition: width 0.4s ease-in-out; /* Makes the movement smooth */
}
.difficulty {
  font-family: "Noto Nastaliq Urdu", serif !important;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  line-height: 2.5;
  background-color: #0c2c55;
  margin: 30px;
  width: 400px;
  margin: 0 auto;
  margin-top: 30px;
  border: 10px solid #bdc3c7;
}
.difficulty h1 {
  color: #ffffff;
  font-size: 30px;
  margin-bottom: 20px;
}
.difficulty button {
  font-family: "Noto Nastaliq Urdu", serif !important;
  background-color: lightgrey;
  width: 300px;
  color: black;
  font-size: 1.5rem;
  text-align: center;
  border-radius: 30px;
  margin: 10px 10px;
  height: 60px;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background-color: #bdc3c7;
    color: #2c3e50;
  }
}

.main-body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  .question {
    text-align: center;
    padding: 10px;
    background-color: #0c2c55;
    border: 5px solid #bdc3c7;
    border-top: none;
    border-left: none;
    border-right: none;
  }
}

.option-btn {
  font-family: "Noto Nastaliq Urdu", serif;
  font-size: 1.3rem;
  text-align: center;
  direction: rtl;

  width: 250px;
  height: 50px;
  margin-bottom: 5px;
  background-color: #ffffff;
  color: #2c3e50;
  border: 2px solid #bdc3c7;
  border-radius: 130px;

  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

#options-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  padding: 0 20px;
}

.option-btn {
  font-family: "Noto Nastaliq Urdu", serif;
  font-size: 1.1rem;
  padding: 2px;
  background-color: white;
  border: 2px solid #555;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.2s;
  text-align: right;
}

.option-btn:hover {
  background-color: #f0f0f0;
  border-color: #000;
}

.final-scores {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 25px;
  margin: 10px auto;
  background-color: #0c2c55;
  width: 300px;
  border: 5px solid #bdc3c7;
  text-align: center;
}

.passOrFail {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.footer-right {
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  background-color: #0c2c55;
  color: #ededce;
  border-radius: 30px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.nameatend {
  position: relative;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  height: 50px;
  background-color: #0c2c55;
  color: #ededce;
  font-size: 14px;
  border: 5px solid #bdc3c7;
}

/* Styling For Small Screens */

@media (max-width: 768px) {
  nav {
    font-size: 25px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #0c2c55;
    color: #ededce;
    padding: 2px;
    border-radius: 30px;

    .right {
      font-size: 34px;
      font-weight: bold;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .left {
      display: none;
    }
  }
  .difficulty {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    width: 243px;
  }
  .difficulty button {
    background-color: lightgrey;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    color: black;
    font-size: 1.5rem;
    text-align: center;
    border-radius: 30px;

    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      background-color: #bdc3c7;
      color: #2c3e50;
    }
  }

  .main-body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-top: 10px;
    background-color: #0c2c55;
    color: white;
    border-radius: 30px;
    padding-bottom: 20px;

    .progress {
      text-align: center;
      color: white;
    }
  }

  .question {
    text-align: center;
  }

  .mainBody {
    background-color: #005461;
    margin-top: 5px;
    border-radius: 30px;
    color: white;
    margin: 0 auto;
  }

  .options-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .option-btn {
    font-family: "Noto Nastaliq Urdu", serif;
    font-size: 1.1rem;
    padding: 2px;
    background-color: white;
    border: 2px solid #555;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.2s;
    text-align: right;
  }

  .option-btn:hover {
    background-color: #f0f0f0;
    border-color: #000;
  }

  .final-scores {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 25px;
    margin: 10px auto;
    background-color: #0c2c55;
    max-width: 243px;
    border: 5px solid #bdc3c7;
    text-align: center;
  }

  .passOrFail {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    background-color: #0c2c55;
  }

  .footer-right {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #0c2c55;
    color: #ededce;
    border-radius: 30px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}
