body {
  background-color: #296374;

  font-family: "Noto Nastaliq Urdu", serif;

  direction: rtl;
  text-align: right;

  line-height: 2.5;
  font-size: 1.2rem;
}
nav {
  font-size: 25px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #0c2c55;
  color: #ededce;
  padding: 2px;
  border: 10px solid #bdc3c7;

  .right {
    font-size: 34px;
    font-weight: bold;
  }

  .left {
    display: flex;
    justify-content: center;
    background-color: #ededce;
    padding: 5px;
    border-radius: 30px;
    color: #0c2c55;
    width: 700px;
    margin-right: 15px;
  }
}
.progress-wrapper {
  width: 80%;
  background: #eee;
  border-radius: 10px;
  margin: 20px auto;
  overflow: hidden; /* Ensures the green bar stays inside rounded corners */
}

.progress-bar {
  width: 0%;
  height: 12px;
  background: #2ecc71;
  border-radius: 10px;
  transition: width 0.4s ease-in-out; /* Makes the movement smooth */
}

.head {
  font-size: 40px;
  color: hsl(0, 0%, 100%);
  margin-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
}
.difficulty {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 10px;
  max-width: fit-content;
  min-width: 90%;
  border: none;
  border-radius: 10px;
  box-shadow: 5px 4px 6px black;
  background-color: #0c2c55;
  margin-top: 20px;
  margin-bottom: none;
}
.difficulty button {
  font-family:
    noto nastaliq urdu,
    serif;
  line-height: 2.5;
  max-width: 400px;
  width: 400px;
  color: white;
  background-color: hsl(257, 89%, 18%);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  margin-bottom: 20px;

  font-size: 1.5rem;
  text-align: center;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);

  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background-color: #bdc3c7;
    color: #2c3e50;
  }
}

.main-body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  .question {
    text-align: center;
    padding: 10px;
  }
}

.option-btn {
  font-family: "Noto Nastaliq Urdu", serif;
  font-size: 1.3rem;
  text-align: center;
  direction: rtl;

  width: 250px;
  height: 50px;
  margin-bottom: 5px;
  background-color: hsl(257, 89%, 18%);
  color: #2c3e50;
  border: 2px solid #bdc3c7;
  border-radius: 130px;

  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

#options-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  padding: 0 20px;
}

.option-btn {
  font-family: "Noto Nastaliq Urdu", serif;
  font-size: 1.1rem;
  padding: 2px;
  background-color: hsl(257, 89%, 18%);
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  color: white;
  cursor: pointer;
  transition: all 0.2s;
  text-align: right;
}

.option-btn:hover {
  background-color: #f0f0f0;
  border-color: #000;
}

.final-scores {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  font-size: 1.2rem;
  color: #ffffff;
  background-color: #0c2c55;
  max-width: 200px;
  border-radius: 10px;
  box-shadow: 5px 4px 6px black;
  text-align: center;
  padding: 0px 5px 10px 5px;
}

.passOrFail {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.footer-right {
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  background-color: #0c2c55;
  color: #ededce;
  border-radius: 30px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.nameatend {
  position: relative;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  height: 50px;
  background-color: #0c2c55;
  color: #ededce;
  font-size: 14px;
  border: 5px solid #bdc3c7;
}

/* Styling For Small Screens */

@media (max-width: 768px) {
  nav {
    font-size: 25px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #0c2c55;
    color: #ededce;
    padding: 2px;
    margin: 0;
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 6px black;

    .right {
      font-size: 34px;
      font-weight: bold;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .left {
      display: none;
    }
  }

  .head {
    font-size: 30px;
    color: #ffffff;
    margin: 0;
  }
  .difficulty {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    max-width: fit-content;
    min-width: 90%;
    border: none;
    border-radius: 10px;
    box-shadow: 5px 4px 6px black;
    background-color: #0c2c55;
    margin-top: 20px;
    margin-bottom: none;
  }
  .difficulty button {
    font-family:
      Noto Nastaliq Urdu,
      serif;
    line-height: 2.5;
    max-width: 400px;
    width: 230px;
    color: white;
    background-color: hsl(257, 89%, 18%);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    margin-top: 10px;

    font-size: 1.2rem;
    text-align: center;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);

    cursor: pointer;
    transition: all 0.3s ease;
  }

  .main-body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-top: 10px;
    background-color: #0c2c55;
    color: white;
    border-radius: 30px;
    padding-bottom: 20px;

    .progress {
      text-align: center;
      color: white;
    }
  }

  .question {
    text-align: center;
    font-size: large;
    border: 5px solid #bdc3c7;
    border-top: none;
    border-left: none;
    border-right: none;
  }

  .mainBody {
    background-color: #005461;
    margin-top: 5px;
    border-radius: 10px;
    color: white;
    margin: 0 auto;

    h1 {
      margin-bottom: 10px;
    }

    p {
      margin: 10px;
    }

    button {
      font-family: "Noto Nastaliq Urdu", serif;
      font-size: 1.1rem;
      padding: 2px;
      background-color: hsl(257, 89%, 18%);
      border-radius: 10px;
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
      color: white;
      cursor: pointer;
      transition: all 0.2s;
      text-align: right;
    }
  }

  .options-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .option-btn {
    font-family: "Noto Nastaliq Urdu", serif;
    font-size: 1.1rem;
    padding: 2px;
    border: 2px solid #555;
    border-radius: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all 0.2s;
    text-align: right;
  }

  .option-btn:hover {
    background-color: #f0f0f0;
    border-color: #000;
  }

  .final-scores {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    font-size: 25px;
    color: #ffffff;
    background-color: #0c2c55;
    max-width: 200px;
    border-radius: 10px;
    box-shadow: 5px 4px 6px black;
    text-align: center;
  }

  .passOrFail {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    background-color: #0c2c55;
  }

  .footer-right {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #0c2c55;
    box-shadow: 5px 4px 6px black;
    color: #ededce;
    border-radius: 30px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .nameatend {
    position: relative;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    height: 40px;
    background-color: #0c2c55;
    color: #ededce;
    font-size: 14px;
    border: none;
  }
}
